/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #2e0f4d, #0f0c29);
  color: #fff;
  overflow-x: hidden;
}

/* PARTICULAS */
#particles-js {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* NAVBAR */
.navbar {
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo span {
  color: #ff914d;
}

.socials a:hover{
  margin-left: 20px;
  font-size: 1.3rem;
  color: #ec5e0b;
  transition: 0.3s;
}

.socials a:hover {
  color: #ff914d;
}

/* HERO */
.hero {
 display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0;
}

.hero-img img {
  width: 380px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0px); }
}

.hero {
  position: relative;
  z-index: 2; /* importante */
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
}

.hero-img img {
   width: 400px;
  max-width: 100%;
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.hero-text {
  max-width: 450px;
}

.hero-text h2 {
  font-size: 42px;
  font-weight: 600;
  line-height: 1.2;
}

.hero-text h2 span {
  color: #ff914d;
}

.hero-text p {
  margin-top: 20px;
  font-size: 18px;
  opacity: 0.9;
}

/* BOTONES */
.hero-buttons {
  margin-top: 25px;
}

.btn-outline,
.btn-filled {
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-outline {
  border: 2px solid #e9810b;
  margin-right: 12px;
    background: transparent;
    color: #fff;
}

.btn-outline:hover {
  background: #fff;
  color: #ec6810;
}

.btn-filled {
  background: #ff914d;
  color: #f3f3eb;
}

.btn-filled:hover {
  opacity: 0.8;
}

/* BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(223, 94, 8, 0.1);
  padding: 12px 25px;
  border-radius: 30px;
  backdrop-filter: blur(8px);
  display: flex;
  gap: 25px;
}

.bottom-nav a {
  color: #fff;
  font-size: 1.3rem;
  transition: 0.3s;
}

.bottom-nav a:hover {
  color: #ff914d;
}
.projects {
  padding: 80px 10%;
  text-align: center;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.project-card {
  background: rgba(252, 139, 11, 0.05);
  border-radius: 15px;
  overflow: hidden;
  transition: transform .3s;
  backdrop-filter: blur(10px);
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-info {
  padding: 20px;
}

.project-info a {
  margin-top: 10px;
  display: inline-block;
  color: #ff8f2f;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}
.container {
  border: 2px solid rgb(255, 81, 0);
}
/* Ajuste de márgenes para nuevas secciones */
#sobre-mi,
#tecnologias {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}
#sobre-mi h2,
#tecnologias h2,
#tecnologias h3
#contacto h2 {
  color: #ff7a00; /* naranja */
}
#contacto a {
  color: #ff7a00;
  font-weight: bold;
  text-decoration: none;
}

#contacto a:hover {
  color: #ec5e0b;
  text-decoration: underline;
}
#proyectos a[target="_blank"] {
  color: #ff7a00;
  font-weight: bold;
  text-decoration: none;
}

#proyectos a[target="_blank"]:hover {
  text-decoration: underline;
}